.bannerContainer {
  width: 100%;
  height: 30em;
  //background: linear-gradient(to top, transparent 2%, white 97%), url(img/bar1.jpg);
  background-size: cover;
  margin-top: -70px;
  padding-top: 120px;
  display: flex;
  justify-content: space-evenly;
}
.contentContainer {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid grey;
  border-radius: 3%;
  width: 80%;
  background-image: url(img/bar2.jpg);
  background-size: cover;
}
.content,
.aside {
  width: 30%;
}

@media only screen and (max-width: 647px) {
  .bannerContainer {
    margin-top: -90px;
  }

}
.mainImg {
  display: flex;
  justify-content: center;
}
.mainImg img {
  width: 75%;
  height: 85%;
  border: 2px solid black;

}
